nav{
    height: 64px;
    background-color: rebeccapurple;
}

nav div{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

nav div a{
    color: white;
}

nav div ul a li{
    color: white;
    display: inline-block;
    text-decoration: none;
}

section > ul {
    background-color: aqua;
}