body {
    background-color: azure;
}

.contenedor__caja {
    background-color: lightcoral;
    margin: 50px auto;
    padding: 0.2em;
    width: 30%;
    height: 100%;
}

.contenedor__caja img {
    margin: 1px auto;
    display: block;
    width: 100%;
}

button {
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
    padding: 0.5em;
    background-color: blueviolet;
}

.precio__caja, .titulo__caja {
    font-size: 1.1em;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.mas_informacion__caja, 
.mas_informacion__caja2, 
.mas_informacion__caja3 {
    display: none;
    margin-top: 1.1em;
    text-align: justify;
}

.informa__caja {
    font-size: 18px;
}