body {
    background-color: beige;
}

#ejemplo {
    width: 40%;
    border: 1px solid black;
    height: 400px;
    margin: auto;
}

button {
    display: flex;
    margin: auto;
    font-size: 1.1em;
    padding: 3em;
    font-weight: 700;
    background-color: coral;
}

.nueva_clase {
    font-size: 21px;
    background-color: aqua;
}