#ejemplo {
    background-color: azure;
    width: 60%;
    border: 1px solid black;
    height: 400px;
    margin: auto;
}

.cambios {
    display: flex;
    margin: auto;
    font-size: 1.1em;
    padding: 3em;
    font-weight: 700;
    background-color: coral;
}